<nav class="navbar">
  <%# <%= link_to "Papertrade", root_path, class: "navbar__brand" %>

  <div class="navbar__links">
    <%= link_to "Portfolio", trades_path, class: "btn" %>
    <%= link_to "New Trade", new_trade_path, class: "btn" %>


    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
    <% end %>
  </div>
</nav>