.navbar {
    background-color: rgb(var(--bg-rgb) / 0.85);
    padding:10px;
    box-shadow: 0 12px 30px rgba(20, 33, 61, 0.08);
    position: sticky;
    top: 0;
    z-index:1000;
}

.navbar__links {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar__links form.button_to {
    display:inline;
    margin: 0;
}