* {
    background-color: bisque;
}

.btn {
    background-color: rgb(241, 190, 127);
    padding:5px 20px;
    font-size: 20px;
    font-weight:700;
}

.btn:hover {
    background-color: rgb(230, 164, 84);
}

.button-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.tradeheader {
    text-align: center;
    background-color: rgb(249, 212, 166);
    padding:20px;
    border:2px solid black;
    border-radius:20px;
}

.stocktable {
width: 100%;
border-collapse: collapse;
table-layout: fixed;
border:2px solid black;
}

.stocktable td {
    background-color: white;
}

.stocktable th, .stocktable td {
    padding: 10px, 12px;
    text-align:left;
}

.table-wrap {
    max-width: 900px;
    margin: 0 auto;
}

.net-worth {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
    border: 2px solid black;
    width:auto;
    height:auto;
}

#netWorthChart {
    max-height: 320px;
    max-width: 1000px;
}

.overall-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius:50px;
    width:500px;
    margin:auto;
}

.new-trade-text {
    font-size: 20px;
    margin-bottom:10px;
}

a.btn, button.btn, input.btn {
    display:inline-block;
    padding: 10px 40px;
    background-color: rgb(241, 190, 127);
    border:2px solid black;
    text-decoration: none;
    cursor: pointer;
}

a.btn:link, a.btn:visited {
    color: black;
    text-decoration: none;
}